<div>
  <div class="buttons-wrapper menu-buttons">
    <button (click)="getClientsServed()">ClientsServed</button>
    <button (click)="getLocations()">Locations</button>

    <!-- button>Accion1</button> -->
  </div>
</div>

<p-dialog header="Services" [draggable]="false" [(visible)]="display">
  <p-scrollPanel [style]="{height: '200px'}">
    <table class="table" border="1">
      <thead>
        <th>Client</th>
        <th>Start</th>
        <th>Finish</th>
      </thead>
      <tbody>
        <tr *ngFor="let s of services">
          <td>{{ s.clientId }}</td>
          <td>{{ s.startService | date: 'HH:mm:ss' }}</td>
          <td>{{ s.endService | date: 'HH:mm:ss' }}</td>
        </tr>
      </tbody>
    </table>
  </p-scrollPanel>
</p-dialog>

<p-dialog header="Tracking" [draggable]="false" [(visible)]="display2">
  <p-scrollPanel [style]="{height: '200px'}">
    <table class="table" border="1">
      <thead>
        <th>Latitude</th>
        <th>Longitude</th>
      </thead>
      <tbody>
        <tr *ngFor="let l of locations ">
          <td>{{ l.lat }}</td>
          <td>{{ l.lon }}</td>
        </tr>
      </tbody>
    </table>
  </p-scrollPanel>
</p-dialog>